* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1, h2 {
    color: #380c88;
    margin-left: 30px;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}


h2 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.main-text {
    text-align: justify;
    margin-bottom: 35px;
    padding-top: 20px;
    border-top: 2px solid red;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 20px;
    border-top: 2px solid red;
}

.other {
    margin-bottom: 40px;
    text-decoration: underline;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    border: 2px solid red;
    margin-bottom: 20px;
}

.blog-post img {
    height: 200px;
    width: auto;
    border: 2px solid red;
    padding: 20px;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}

.link {
    color: rgb(38, 38, 236);
    margin-left: 30px;
    font-weight: bold;
}

.logo {
    color: rgb(38, 38, 236);
    margin-left: 10px;
    margin-right: 150px;
    font-weight: bold;
}